{% extends "lizard_ui/lizardbase.html" %}
{% load i18n %}

{% block content %}
  <h1>{{ view.fews_instance }}</h1>
  <dd>
    <dt>Configured URL</dt>
    <dd>
      <a href="{{ view.fews_instance.url }}">
        {{ view.fews_instance.url }}
      </a>
    </dd>
    <dt>Parameters URL</dt>
    <dd>
      <a href="{{ view.fews_instance.download_urls.parameters }}">
        {{ view.fews_instance.download_urls.parameters }}
      </a>
    </dd>
    <dt>Filters URL</dt>
    <dd>
      <a href="{{ view.fews_instance.download_urls.filters }}">
        {{ view.fews_instance.download_urls.filters }}
      </a>
    </dd>
    <dt>Locations URL</dt>
    <dd>
      <a href="{{ view.fews_instance.download_urls.locations }}">
        {{ view.fews_instance.download_urls.locations }}
      </a>
    </dd>
  </dt>

  <h2>Filters</h2>
  <pre>{{ view.fews_instance.filters }}</pre>
  <!-- TODO: ul/li list -->

{% endblock content %}
